<div class="container">
    <div class="row col-6 align-middle" >
        <form action="/createuser" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Фамилия:</label>
                <input type="text" class="form-control" value=""  name="fam">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Имя:</label>
                <input type="text" class="form-control" value="" name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Отчество:</label>
                <input type="text" class="form-control" value="" name="surname">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Должность:</label>
                <input type="text" class="form-control" value="" name="post">
            </div>
            <button href type="Submit" class="btn btn-primary btn-lg mb-3">Submit</button>
        </form>
    </div>
</div>
n